NODE_ENV=production
PORT=3000
DATABASE_URL=${{Postgres.DATABASE_URL}}
REDIS_URL=${{Redis.REDIS_URL}}
WHATSAPP_VERIFY_TOKEN=REPLACE_WITH_WHATSAPP_VERIFY_TOKEN
WHATSAPP_ACCESS_TOKEN=REPLACE_WITH_WHATSAPP_ACCESS_TOKEN
WHATSAPP_PHONE_NUMBER_ID=REPLACE_WITH_WHATSAPP_PHONE_NUMBER_ID
PAYMENT_GATEWAY_NAME=mock
PAYMENT_GATEWAY_BASE_URL=https://example.com
PAYMENT_GATEWAY_SECRET=REPLACE_WITH_PAYMENT_GATEWAY_SECRET
STORAGE_PROVIDER=r2
R2_ACCOUNT_ID=85f6a6181b4653c2a45e69cb7ce8a474
R2_ACCESS_KEY_ID=REPLACE_WITH_R2_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=REPLACE_WITH_R2_SECRET_ACCESS_KEY
R2_BUCKET_NAME=ai-photo-studio-whatsapp-r2
R2_PUBLIC_BASE_URL=https://85f6a6181b4653c2a45e69cb7ce8a474.r2.cloudflarestorage.com
AI_PROVIDER_NAME=mock
AI_PROVIDER_API_KEY=REPLACE_WITH_AI_PROVIDER_API_KEY
ADMIN_JWT_SECRET=REPLACE_WITH_ADMIN_JWT_SECRET
